@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:"Quicksand", sans-serif;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
.container{
    background-color:;
    max-width: 1100px;
    margin: auto;
}
/* utility classes */
.primary-text{
    color: #e4b95b;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}
.btn-primary{
    color: #fff;
    border: 1px solid #fff;
}
.btn-secondary{
    color: #fff;
    background: #383848;
    margin-top: 2rem;
}
.btn-primary:hover, .btn-secondary:hover{
    background: #e4b95b;
}
/* header start */
header{
    height: 100vh;
    background-image: url('images/a.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:;
}
#navbar img { 
    width: 150px;
    margin-left: 100px;
  
}
#navbar ul{
    display: flex;
    margin-right: 100px ;
}
#navbar ul li a{
    padding: 15px 15px;
    color: #fff;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom: 2px solid #e4b95b;
}
header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}
header .content h1{
    font-size: 40px;
    color: #fff;
}
header .content p{
    margin: 20px 0 40px;
    color:#fff;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0 ,0.5);
}
header *{
    z-index: 10;
}

/* header end */

/* about start */
.about-img{
    width: 40%;
    height: 400px;
}
#about{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}
#about .title,
#slider .title,
#offers .title{
    text-align: center;
    margin-bottom: 4rem;
}
#about h2{
    font-size: 40px;
    color: #383838;
    margin: 20px;
}
#about .title p{
    font-size: 20px;
    color: #9a9a9a;
    font-weight: 600;
}
#about .about-content{
    display: flex;
    justify-content: space-between;
}
#about .about-content img{
    width: 450px;
    margin: 20px;
}
#about .about-content p{
    color: #9a9a9a;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1.6;
}
/* about end */
/* servce start */

#offers{
    height: 80vh;
    display: flex;
    justify-content: center;
    background:;
}
img :hover{
    transform: translateZ(20px);

}
#offers .offers-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;

}
#offers .offers-items img{
    width: 300px;
    height: 200px;
}
#offers .offers-items h3 {
    font-size: 20px;
    margin: 30px 0;
   color: ;
}
#offers  h2{
    font-size: 40px;
    margin: 15px;
} 
#offers p {
    font-size: 20px;
    font-weight: 500;
}

/* servce end */


/* slider start */
#slider h2{
    font-size: 40px;
    color: #e4b95b;
    margin-bottom: 20px;
}
#slider p{
    font-size: 20px;
    color: #f4f4f4;
    font-weight: 600;
}

#slider{
    min-height: 100vh;
    display: grid;
    place-items:center;
    background-image: url(images/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#slider::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0 ,0.5);}
    #slider *{
        z-index: 10;
    }
#body{
    height: 350px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-body{
    display: flex;
    width: calc(250px*18);
    animation:scroll 15s linear infinite;
    background-color:white;

}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}

.slide-imge{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;

}
img{
    width: 100%;
    transition: transform 1s;
}
img:hover{
    transform: translateZ(20px);

}
/* slider end */

/* contact start */
#contact{
    padding: 5rem 0;
    background: #f4f4f4;
}
#contact .container{
    max-width: 900px;

}
#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact .contact-content .contact-info{
    width: 50%;
}
#contact .contact-content .contact-info div{
    margin: 20px;
    line-height: 1.7;
}
#contact .contact-content .contact-info h3{
    font-size: 28px;
    color: #383838;
    margin-bottom: 10px;
}
#contact .contact-content .contact-info p{
    color: #9a9a9a;
}
#contact .contact-content .contact-info i{
    color: #e4b95b;
    margin-right: 5px;
}

#contact .contact-content .contact-info a i {
    color: #fff;
    background-color: #383848;
    padding: 15px;
    border-radius: 25%;
    font-size: 20px;
}
#contact .contact-content .contact-info a i:hover {
    background: #e4b95b;
    color: #383848;

}
form{
    width: 50%;

}
form input, textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
}
#contact .btn{
    background: #e4b95b;
    color: #fff;
    cursor: pointer;
}
#contact .btn:hover {
    background-color: #383848;
}



/* contact end */

/* footer start */
#footer {
    background: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
}
/* footer end */
/* whatsapp button */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
.WA_Chat_Widget *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.WA_Chat_Widget .WA_FloatingButton{
    position: fixed;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.185);
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    z-index: 1000;
}
.WA_Chat_Widget .WA_FloatingButton svg{
    width: 40px;
    height: 40px;
    fill: #4fce5d;
}
.WA_Chat_Widget[data-position^="top-"] .WA_FloatingButton{
    top: 20px;
}
.WA_Chat_Widget[data-position^="bottom-"] .WA_FloatingButton{
    bottom: 20px;
}
.WA_Chat_Widget[data-position$="-left"] .WA_FloatingButton{
    left: 20px;
}
.WA_Chat_Widget[data-position$="-right"] .WA_FloatingButton{
    right: 20px;
}
.WA_Chat_Widget[data-position$="-center"] .WA_FloatingButton{
    left: 50%;
    transform: translateX(-50%);
}

.WA_Chat_Widget[data-position^="top-"] .WA_ChatBox{
    top: 110px;
}
.WA_Chat_Widget[data-position^="bottom-"] .WA_ChatBox{
    bottom: 110px;
}
.WA_Chat_Widget[data-position$="-left"] .WA_ChatBox{
    left: 30px;
}
.WA_Chat_Widget[data-position$="-right"] .WA_ChatBox{
    right: 30px;
}
.WA_Chat_Widget[data-position$="-center"] .WA_ChatBox{
    left: 50%;
    transform: translateX(-50%);
}


.WA_Chat_Widget .WA_ChatBox{
    position: fixed;
    width: 360px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.1);
    display: none;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header{
    width: auto;
    background: #095e54;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .avatarBox{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .avatarBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .infoBox .name{
    color: #fff;
    font-weight: 600;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .infoBox .answer_time{
    color: #e4e4e4;
    font-size: 14px;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .WA_Close{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .WA_Close svg{
    fill: #ffff;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body{
    padding: 20px;
    background: #e6ddd4;
    position: relative;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(./bg-pattern.png);
    opacity: 0.1;
    z-index: 0;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message{
    max-width: 280px;
    background: #fff;
    padding: 20px;
    padding-top: 10px;
    border-radius: 8px;
    z-index: 1;
    position: relative;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    left: -10px;
    top: 0px;
    border-radius: 3px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message .username{
    color: darkgray;
    font-weight: 500;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message .message_content{
    font-size: 14px;
    color: #000;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer{
    padding: 20px;
    background-color: #fff;
    width: 100%;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer .btn{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 1000px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer .btn.btn-whatsapp{
    background: #095e54;
    color: #fff;
    display: block;
    text-align: center;
}